* {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background: linear-gradient(to right top, #0bdd51, #02e0e7);
    min-height: 100vh;
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.section {
    display: flex;
    background-color: white;
    width: 60%;
    min-height: 80vh;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    border-radius: 20px;
}

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    border-radius: 2rem;
  }

  .link {
    display: flex;
    flex: 1;
    margin: 2rem 0rem;
    padding: 1rem 5rem;
    align-items: center;
  }

  .link h2 {
    padding: 0rem 2rem;
  }

  a {
    text-decoration: none;
    color: black;
  }

  a:hover {
    color: #02e0e7;
  }

  .paragraphs {
    flex: 2;
    margin-top: 130px;
  }

  .paragraph {
    margin-top: 45px;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
  }

  .paragraph2 {
    margin-top: 45px;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
  }

  img {
    max-height: 55px;
    max-width: 50px;
  }