body {
    width: 100vw;
    height: 100vh;
  /*  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A605, #23D5AB); */
 /*  background: linear-gradient(to right top, #121f17, #112627); */
    background: linear-gradient(-45deg, #001f478e, rgb(4, 68, 87), rgb(25, 57, 124)); 
    width: 100%;
    height: 100vh;
    background-size: 400% 400%;
    position: relative;
    overflow-x: hidden;
}

.row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.col h1 {
    color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.line {
    width: 150px;
    height: 4px;
    background-color: crimson;
    border-radius: 5px;
}

.period-drama p {
    padding: 0;
    margin: 30px auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}

.image-col {
    width: 50%;
}

.period-drama .images {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}

.images img {
    max-width: 300px;
    height: 300px;
    margin: 10px;
    border: 2px black solid;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
    background-size: cover;
}

.line2 {
    width: 90%;
    height: 2px;
    background-color: rgb(10, 9, 9);
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
}

h2 {
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: rgb(44, 44, 44);
}

.cards {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.card {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text";
    background-color: rgb(255, 249, 249);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 15px;

}

.card-img {
    grid-area: image;
    background: url("R-11303268-1513791463-3643.jpg");
    background-size: cover;
}

.card-img2 {
    grid-area: image;
    background: url("khaledhosseini.jpg");
    background-size: cover;
}

.card-img3 {
    grid-area: image;
    background: url("oscar_wilde_the_picture_of_doriangray.jpeg");
    background-size: cover;
}

.card-img4 {
    grid-area: image;
    background: url("gatesofevangeline.jpg");
    background-size: cover;
}

.card-text {
    grid-area: text;
    margin: 10px;
}

.card-text h2 {
    color: black;
    text-align: left;
}

.card-text h4 {
    color: black;
    text-align: left;
}

.card-text p {
    color: rgb(20, 19, 19);
    text-align: left;
    padding-bottom: 2px;
}





