* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   /* background-color: lightcyan; */
}


body {
  /*   background: linear-gradient(-45deg, #EE7752, #E73C7E, #220966, #23D5AB); */
    /* background: linear-gradient(-45deg, rgb(122, 200, 248), rgb(206, 233,39)); */
   background: linear-gradient(-45deg, #23a605, rgb(103, 163, 182), rgb(25, 57, 124)); 
    width: 100%;
    height: 100vh;
    background-size: 400% 400%;
    position: relative;
}


section {
    width: 80%;
    margin: 80px auto;

}

.title {
    text-align: center;
    color: black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
}

.line {
    width: 150px;
    height: 4px;
    background-color: crimson;
    margin: 10px auto;
    border-radius: 5px;
}

.line2 {
    width: 150px;
    height: 4px;
    background-color: crimson;
    border-radius: 5px;
    margin: 2px 2px;
}

.row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.franchises .row {
    margin-top: 50px;
}

img {
    width: 350px;
    height: 350px;
    border: 2px black solid;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
}

h3 {
    color: black;
    margin: 10px auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase; 
    border: 2px solid transparent;
    letter-spacing: 0.5px;
}

p {
    color: whitesmoke;
    padding: 0px 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
    margin: 4px;
    background: linear-gradient(to right top, #121f17, #112627);
}

.row2 {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.row2 .col2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movies .row2 {
    margin-top: 50px;
}

.movies img {
    width: 300px;
    height: 300px;
    border: 2px black solid;
    background-size: cover;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
}

.movies p {
    color: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
    margin: 4px;
    background: linear-gradient(to right top, #121f17, #112627);
}